body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header div {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo-header {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

span {
  color: #2e2f42;
}
.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  padding: 24px 0;
}

.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
  text-decoration: underline;
}

.address-menu {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
}

.address a {
  color: #434455;
  text-decoration: none;
  font-weight: 400;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/*Hero image section*/
.hero {
  padding: 188px 0;
}

.container-hero {
  font-family: Roboto, sans-serif;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.button-order {
  font-family: Roboto, sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

/*Our value*/
/*hidden title*/

.section-our-values {
  padding: 120px 0;
}

.container-our-values {
  display: flex;
}

.title-our-values {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-values-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.list-our-values {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: calc((100% - 72px) / 4);
  gap: 24px;
}

.title-list-our-values {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text-our-values {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*our team*/

.section-our-team {
  background-color: #f4f4fd;
}

.section-our-team li {
  background-color: #fff;
}

.container-our-team-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 72px;
  padding-bottom: 120px;
}
.title-our-team {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.container-our-team {
  display: flex;
  flex-direction: row;
  padding-bottom: 120px;
}

.our-team-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.list-our-team {
  width: calc((100% - 72px) / 4);
}

.title-list-our-team {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  padding-bottom: 8px;
  text-align: center;
}

.text-list-our-team {
  font-size: 16px;
  margin-bottom: 32px;
  text-align: center;
}

/*portfolio*/

.container-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 72px;
  padding-bottom: 120px;
}

.container-item-line-one {
  display: flex;
  flex-direction: row;
}

.portfolio-item-line-one {
  display: flex;
  margin-bottom: 48px;
  gap: 24px;
}

.container-item-line-two {
  display: flex;
  flex-direction: row;
}

.portfolio-item-line-two {
  display: flex;

  margin-bottom: 120px;
  gap: 24px;
}
.list-box-portfolio {
  background-color: #fff;
  border: 1px solid #e7e9fc;
}

.title-portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 72px;
}

.list-portfolio {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  padding-bottom: 8px;
  margin-left: 16px;
}

.text-list-portfolio {
  margin-bottom: 32px;
  margin-left: 16px;
}

/*footer*/

.footer {
  display: block;
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.web-logo {
  display: inline-block;
  color: #f4f4fd;
}

.text-footer {
  max-width: 264px;
}
